//Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

$header-font: 'Open Sans';
$body-font: 'Source Serif Pro';

//------------------------------ Navigation Typogrphy ------------------------------



//------------------------------- Headers Typography -------------------------------
h1, h2, h3, h4, h5 {
	margin: .5em;
}
h1 {
	font-family: $header-font;
	color: white;
	font-weight: 600;
	padding: 0;
	@include MQ(S) {
		font-size: 5em;
	}
	@include MQ(M) {
		font-size: 4em;
	}
}

h2 {
	font-family: $header-font;
	color: white;
	font-weight: 600;
	padding: 0;
	@include MQ(S) {
		font-size: 4em;
	}
	@include MQ(M) {
		font-size: 3em;
	}
}
//Used for Black Headers
h3 {
	font-family: $header-font;
	color: black;
	padding: 0;
	text-align: center;
	@include MQ(S) {
		font-size: 3em;
	}
	@include MQ(M) {
		font-size: 2em;
	}

}
h4 {
	font-family: $header-font;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0;
	@include MQ(S) {
		font-size: 3em;
	}
	@include MQ(M) {
		font-size: 2em;
	}
}
h5 {
	font-family: $header-font;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0;
	@include MQ(S) {
		font-size: 2em;
	}
	@include MQ(M) {
		font-size: 1.5em;
	}
}



//------------------------------ Body Typography ------------------------------
p {
	@include MQ(S) {
			font-size: 2em;
		}
		@include MQ(M) {
			font-size: 1.5em;
		}
	font-family: $body-font;
	padding: 0 25px;
	color: white;
}

footer{
	li {
		font-family: $body-font;
		color: white;
		@include MQ(S) {
			font-size: 2em;
		}
		@include MQ(M) {
			font-size: 1.5em;
		}
	}
}

li {
	font-family: $body-font;
	color: white;
	@include MQ(S) {
		font-size: 2em;
	}
	@include MQ(M) {
		font-size: 1em;
	}
}